/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
  opacity: 1 !important;
  transition: opacity .25s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin .25s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: .35 !important;
  height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] {
  margin-top: -12px;
}

.item-PXvHYJ[data-item-id=pc-updater] {
  height: 4.65rem;
  align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
background: transparent;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
background: transparent;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
position: absolute;
margin-top: 2.19rem;
border-top: 1px solid var(--background-modifier-accent);
line-height: 2.6rem;    
width: 89.5%;
content: "Plugin Settings";
  color: rgb(159, 159, 159);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

/* Minified Members and Search */
/* By Fitil, Search fix by Cryptogenic */
.members-1998pB,
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  border-radius: 18px 0px 0px 18px !important;
  margin-top: 4px;
  margin-bottom: 5px;
  filter: drop-shadow(0 0 6px);
  color: rgba(0, 0, 0, 0.342);
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 600ms;
}
.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 99%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-a9vAAp[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}
::-webkit-scrollbar { display: none; }

/* Minified Server List */
.wrapper-3NnKdC {
    opacity: 0;
    transition: opacity 200ms ease;
}
.wrapper-3NnKdC:hover {
    opacity: 1;
}
/*Width*/
.wrapper-3NnKdC {
    width: 1px;
    min-width: 1px;
    transition-property: width, min-width;
    transition: 400ms ease;
}
.wrapper-3NnKdC:hover{
  width: 70px;
  min-width: 68px;
}

/* Hide "Set A Server Nickname" on userpopouts */
.setIdentityLink-3lcnXW {display: none}

/* Online things & Now playing things on home */
.title-30qZAO {
    text-align: center;
    font-size: 14px;
    margin: 10px 20px 19px 30px;
    color: rgb(55, 150, 107);
}
.header-2SF4Nh {
    text-align: center;
    font-size: 22px;
    font-family: var(--font-display);
    margin: 8px 0 20px;
    margin-top: -4px;
    font-weight: 700;
}
.header-2SF4Nh::after {
    content: "";
    display: block;
    width: 350px;
    height: 1px;
    left: 0px;
    margin-top: 9px;
    background: #afacace1;
    position: absolute;
}

/*Titlebar*/
.wordmark-2iDDfm{
	--text-muted: transparent;
}

div[class*="typeWindows-"]::after {
    position: absolute;
    font-family: "Discordinated";
    content: "RecolorCord";
    font-size: 14px;
    font-weight: normal;
    top: 1px;
    left: 10px;
    color: var(--text-muted);
    transform: translateY(-8%);
    line-height: 20px;
}

/* User Role List Category Group Labels */
.members-1998pB .membersGroup-v9BXpm {
	width: calc(var(--User-List-Width) - 16px);
  font-size: 12px;
	height: 30px;
	margin: 0px 0px 6px 8px;
	padding: 10px 0px 0px 0px;
	letter-spacing: .01em;
	text-align: left;
	color: var(--channels-default);
}
.membersGroup-v9BXpm::after {
    content: "";
    display: block;
    width: 210px;
    height: 1px;
    left: 7px;
    margin-top: 4px;
    background: var(--channels-default);
    position: absolute;
}
.userInfo-2zN2z8 {
   max-width: 530px;
}

/* Fixed Button Position */
.button-38aScr {
    right: 0px;
}
.button-14-BFJ {
    left: 3px;
}

/* Squared Servers */
.svg-1X37T1 > mask {
  display: none;
}

.folder-1hbNCn,
.icon-27yU2q,
.circleIconButton-jET_ig,
.childWrapper-anI2G9,
.folder-21wGz3, 
.folderIconWrapper-226oVY {
  border-radius: 6px;
}
.avatarHint-2A3RNb {
  display: none;
}

/* fix audio embed width to not cut off names of files */
.wrapperAudio-1jDe0Q {
  width:auto!important;
  min-width: 400px;
}

/* Toolbar Button */
/* credits to Nyria#3863 */
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.40s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.70s;
}
.toolbar-1t6TWx .clickable-3rdHwn:not([aria-label="Threads"]) {
  padding: 7px 7px 29px 7px;
  background-color: var(--button-background);
  margin: 1px;
}
.toolbar-1t6TWx .clickable-3rdHwn[aria-label="Threads"] {
  border-left: 7px solid var(--button-background);
  border-top: 18px solid var(--button-background);
  border-right: 7px solid var(--button-background);
  border-bottom: 18px solid var(--button-background);
  margin: 1px;
}
.topControls-KKImPZ.controlSection-2h3cS0>div>div>section>.toolbar-1t6TWx>.button-1xaXFt.iconWrapper-2OrFZ1.clickable-3rdHwn {
  background-color: transparent !important;
}
.topControls-KKImPZ.controlSection-2h3cS0>div>div>section>.toolbar-1t6TWx>.button-1xaXFt.iconWrapper-2OrFZ1.clickable-3rdHwn>svg {
  color: var(--settings-icon-color) !important;
}
.search-36MZv-:not(.open-6_Y_aH) {
  padding: 6px 4.5px 6px 4.5px;
  background-color: var(--button-background);
  margin: 1px 8px 1px 1px;
  order: -1;
  border-radius: var(--border-radius-1);
}
.searchBar-3dMhjb, .search-2oPWTC {
  background-color: var(--button-background);
}
.threadSidebar-1o3BTy>section>.toolbar-1t6TWx .clickable-3rdHwn {
  border-radius: var(--border-radius-1);
}
.toolbar-1t6TWx>:first-child:not(.inviteToolbar-3F-l2g) {
  border-radius: var(--border-radius-1) 0px 0px var(--border-radius-1);
}
.inviteToolbar-3F-l2g>div {
  padding: 7px 7px 29px 10px !important;
  border-radius: var(--border-radius-1) 0px 0px var(--border-radius-1);
}
.toolbar-1t6TWx>:last-child>div, .toolbar-1t6TWx>:last-child {
  border-radius: 0px var(--border-radius-1) var(--border-radius-1) 0px;
}
.toolbar-1t6TWx a {display: none;}

/* Change Nitro perks description text color */
/*More emoji power*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureEmoji-3pTtR2 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#FFA600;
}
/*Personalized profile*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureProfile-tTo0C- > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#00E0A7;
}
/*support your server*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featurePremiumGuild-2KpCr6 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #5C87CC;
}
/*rep your status*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureBadge-3ZA-Ca > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #FFAFFF;
}
/*bigger uploads*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureUploadSize-2CAVFL > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#776BFF;
}
/*hd video*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureGoLive-30cvVw > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color: #FA4E89;
}
/*longer messages*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureLongerMessageContent-1RADxx > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#ffd836;
}
/*more servers*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div > div.featureGrid-3-fNl- > li.feature-2w65J5.featureMoreServers-14Thw5 > div.colorStandard-2KCXvj.size14-e6ZScH.featureDescription-1wp-zJ{
    color:#a57ef8
}

/* Pinned Home Icon */
.tutorialContainer-2sGCg9 {
    position: fixed;
    z-index: 1;
    background: linear-gradient(var(--background-tertiary) 100%, transparent);
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 55px;}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0px;}
.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label="Servers"] {
  margin-top: 60px;
}

.tutorialContainer-2sGCg9 {
  box-shadow: 0px 5px 5px var(--background-tertiary);
}

.container-3w7J-x {
  z-index: 1;
}
.privateChannels-1nO12o {
    z-index: 1;
}


/* Discord Update Balloon */
.iconWrapper-2OrFZ1[aria-label="Update Ready!"] {
  position: fixed;
  right: 2px;
  top: 80px;
  background: var(--background-tertiary);
  border-radius: 10px;
  width: 300px;
  height: 130px;
  border-right: 5px solid #43B581;
  transition: background 1s;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::before {
  position: relative;
  display: block;
  content: "A discord update has been released.";
  font-weight: 700;
  top: 13px;
  text-align: center;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::after {
  position: relative;
  display: block;
  content: "It is recommended to install it now to receive brand new features & patches.";
  top: 22px;
  text-align: center;
}

.iconWrapper-2OrFZ1[aria-label="Update Ready!"] > .icon-22AiRD {
  position: fixed;
  right: 148px;
  top: 173px;
}

/* Nicer User Area & Status Picker */
.container-3baos1:last-child {
  margin-left: 5px;
  margin-right: 5px;
}
.container-3baos1:last-child .horizontal-2EEEnY {
  margin: auto;
}
.container-3baos1:last-child .button-14-BFJ[aria-label*='Game'] ~ .button-14-BFJ[aria-label='User Settings'] {
  padding-right: 5px;
}
.container-3baos1 .canCopy-2VBT7N {
  order: -1;
  min-width: 45px;
  margin-right: 8px;
}
.emojiButtonContainer-3d6DFV {
    margin: 0 17px;
    height: 100%;
}
#status-picker {
  bottom: 0;
  left: 72px;
  width: 240px;
  position: fixed;
  border-radius: unset;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--background-secondary-alt);
}
#status-picker .item-1tOPte {
  margin: auto 5px;
}
#status-picker .separator-2I32lJ,
#status-picker .description-2L932D {
  display: none;
}
#status-picker-online {
  --status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
  --status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
  --status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
  --status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
/* Add :not(#status-picker-game-activity) after each of these :not s if applicable */
#status-picker .item-1tOPte:not(#status-picker-custom-status):active,
#status-picker .item-1tOPte:not(#status-picker-custom-status).focused-3afm-j {
  background-color: var(--status-colour);
}
/* Only use this if you have Better Status Indicators */
#status-picker .item-1tOPte:active .status-1AY8sU,
#status-picker .item-1tOPte.focused-3afm-j .status-1AY8sU {
  background-color: white !important;
}

/*Mobile Jump To Present Bar*/
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: var(--background-accent);
    border-radius: 50%;
}
.barBase-1c2Rfb {
    min-height: 32px;
}
.newMessagesBar-265mhP {
    background-color: var(--background-accent);
    box-shadow: none;
}

/* Hide BD Public & Discovery */
#bd-pub-button {
    display: none;
}
#bd-pub-li {
    display: none;
}
[href="/discovery"] {
    display: none;
}
[aria-controls="ACTIVITY-tab"] {
    display: none;
}
button[aria-label="Send a gift"]{
  display: none;
}

/* Replaces Message Links with "Jump to Message" */
[href^="https://discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[href^="https://discord.com/channels/"]::before {
    content:'Jump to Message';
    font-size:16px;
    font-weight:700;
}
